@font-face {
  font-family: "DMSans-Bold";
  src: url("../fonts/DMSans_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay-Bold";
  src: url("../fonts/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay-ExtraBold";
  src: url("../fonts/HelveticaNowDisplay-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay-Hairline";
  src: url("../fonts/HelveticaNowDisplay-HairlineI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RockidsDisplay";
  src: url("../fonts/Rockids\ Display\ Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-DMSans-Bold {
  font-family: "DMSans-Bold", sans-serif;
}

.font-DMSans {
  font-family: "DMSans", sans-serif;
}

.font-HelveticaNowDisplay-Bold {
  font-family: "HelveticaNowDisplay-Bold", sans-serif;
}

.font-HelveticaNowDisplay {
  font-family: "HelveticaNowDisplay", sans-serif;
}

.font-HelveticaNowDisplay-ExtraBold {
  font-family: "HelveticaNowDisplay-ExtraBold", sans-serif;
}

.font-HelveticaNowDisplay-Hairline {
  font-family: "HelveticaNowDisplay-Hairline", sans-serif;
}

.font-RockidsDisplay {
  font-family: "RockidsDisplay", sans-serif;
}

body {
  font-family: "DMSans", sans-serif;
}

footer {
  background-color: rgb(243, 140, 1);
  color: #fffb;
}

.btn {
  position: relative;
  color: white;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  border: solid 1px rgb(45, 155, 69);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(45, 155, 69); /* Same as the initial background color */
  transition: transform 400ms ease-in-out;
  transform: scaleX(1); /* Start fully visible */
  transform-origin: left; /* Slide off to the right */
  z-index: -1;
}

.btn:hover::before,
.btn:focus::before {
  transform: scaleX(0); /* Slide off to the right */
  transform-origin: right;
}

.btn:hover,
.btn:focus {
  color: black;
  border: solid 1px black; /* Text color changes to white on hover/focus */
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.image-slide-in {
  animation: slideIn 1s forwards;
}

.text-slide-in {
  animation: slideInLeft 1s forwards;
}

.image-slide-out {
  animation: slideOut 1s forwards;
}

.text-slide-out {
  animation: slideOutRight 1s forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.image-pop-in {
  animation: popIn 1s ease forwards;
}

.text-pop-in {
  animation: popIn 1s ease forwards;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.heading-slide-in {
  animation: slideFromRight 1s ease forwards;
}

.about-us-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/banner.jpg");
  background-size: cover;
}

.lemon-rad {
  border-top-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
}

.fruit-rad {
  border-top-left-radius: 16rem;
  border-bottom-right-radius: 16rem;
}

/*Nav Bar*/
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav_close,
.nav_toggle {
  display: flex;
  cursor: pointer;
}

/*Nav for mobile screens*/
@media screen and (max-width: 1150px) {
  .nav_menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 6rem 3.4rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }

  .nav_item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }

  .nav_item:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav_item:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav_item:nth-child(3) {
    transition-delay: 0.13s;
  }
  .nav_item:nth-child(4) {
    transition-delay: 0.4s;
  }
  .nav_item:nth-child(5) {
    transition-delay: 0.5s;
  }
}

.nav_list,
.nav_social {
  display: flex;
}

.nav_list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav_link {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: opacity 0.4s;
}

.nav_link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.nav_link span {
  position: relative;
  transition: margin 0.4s;
}

.nav_link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.4s ease-out;
}

.nav_link:hover span {
  margin-left: 2.5rem;
}

.nav_link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav_link:hover span::after {
  width: 100%;
}

.nav_list:has(.nav_link:hover) .nav_link:not(:hover) {
  opacity: 0.4;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav_social {
  column-gap: 1rem;
}

.nav_social_link {
  transform: transform 0.4s;
}

.nav_social_link:hover {
  transform: translateY(-0.25rem);
}

.show-menu {
  left: 0;
}

.show-menu .nav_item {
  visibility: visible;
  transform: translateX(0);
}

/*============BreakPoints=============*/
/*For larger screens*/
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav_toggle,
  .nav_close,
  .nav_social {
    display: none;
  }
  .nav_link i {
    font-size: 1.5rem;
  }
  .nav_list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
  .nav_menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
  .nav_link span {
    font-size: large;
  }
}

.home,
.home_container {
  position: relative;
}

.home_container {
  padding-top: 8rem;

  display: flex;
  row-gap: 1rem;
}

.home_title {
  margin-bottom: 0.75rem;
}

.home_title span {
  display: block;
}

.home_description {
  margin-bottom: 1.5rem;
}

.home_images {
  position: relative;
  width: 325px;
  height: 378px;
  justify-self: center;
}

.home_images img {
  position: absolute;
}

.home_liquid {
  max-width: initial;
  width: 340px;
  left: -0.5rem;
}

.home_juice {
  width: 140px;
  transform: rotate(15deg);
  left: 1rem;
  right: 0;
  top: 1rem;
  margin: 0 auto;
  animation: float-juice 4s ease-in-out infinite;
}

.home_apple2 {
  width: 90px;
  right: 1.5rem;
  bottom: 3.5rem;
}

.home_apple1 {
  width: 100px;
  transform: rotate(-25deg);
  top: 7rem;
  left: 0.65rem;
}

.home_leaf:nth-child(1),
.home_leaf:nth-child(6) {
  width: 50px;
  transform: rotate(30deg);
}

.home_leaf:nth-child(2),
.home_leaf:nth-child(4),
.home_leaf:nth-child(5) {
  width: 40px;
}

.home_leaf:nth-child(1) {
  top: -7rem;
  right: 3rem;
}
.home_leaf:nth-child(2) {
  transform: rotate(-60deg);
  top: 1.5rem;
  left: 1.25rem;
}
.home_leaf:nth-child(3) {
  width: 20px;
  transform: rotate(-15deg);
  top: 8rem;
  right: 5rem;
}
.home_leaf:nth-child(4) {
  bottom: 4rem;
  left: 3rem;
}
.home_leaf:nth-child(5) {
  transform: rotate(-30deg);
  bottom: 0;
  right: 5rem;
}
.home_leaf:nth-child(6) {
  bottom: -5rem;
  left: 3rem;
}

.home_shape-small,
.home_shape-big {
  position: absolute;
  border-radius: 50%;
}

.home_shape-small {
  width: 200px;
  height: 200px;
  top: -5rem;
  left: -5rem;
}

.home_shape-big {
  width: 250px;
  height: 250px;
  top: 17rem;
  right: -8rem;
}

.home_shape-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
}

@keyframes float-juice {
  0% {
    transform: translateY(0) rotate(15deg);
  }
  50% {
    transform: translateY(-1.5rem) rotate(15deg);
  }
  100% {
    transform: translateY(0) rotate(15deg);
  }
}

@media screen and (max-width: 330px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home_images {
    width: 245px;
    height: 320px;
  }
  .home_liquid {
    width: 250px;
    left: 0;
  }
  .home_juice {
    width: 100px;
  }
  .home_apple1,
  .home_apple2 {
    width: 70px;
  }
}

@media screen and (min-width: 767px) {
  .home_container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding-top: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .home_images {
    width: 530px;
    height: 590px;
  }

  .home_liquid {
    width: 530px;
  }

  .home_juice {
    width: 220px;
    left: 0;
    top: 1.5rem;
  }

  .home_apple1 {
    width: 180px;
    top: 10rem;
    left: -1rem;
  }

  .home_apple2 {
    width: 185px;
    right: 0.5rem;
    bottom: 5.5rem;
  }

  .home_leaf:nth-child(1),
  .home_leaf:nth-child(6) {
    width: 70px;
  }

  .home_leaf:nth-child(2),
  .home_leaf:nth-child(4),
  .home_leaf:nth-child(5) {
    width: 60px;
  }

  .home_leaf:nth-child(1) {
    top: -1rem;
    right: 2rem;
  }
  .home_leaf:nth-child(2) {
    top: 2.5rem;
    left: 2.25rem;
  }
  .home_leaf:nth-child(3) {
    width: 40px;
    top: 12rem;
    right: 10rem;
  }
  .home_leaf:nth-child(4) {
    bottom: 8rem;
    left: 4.5rem;
  }
  .home_leaf:nth-child(5) {
    right: 10rem;
  }
  .home_leaf:nth-child(6) {
    bottom: 1rem;
    left: -8rem;
  }

  .home_shape-small {
    width: 400px;
    height: 400px;
    top: 0;
    left: -15rem;
  }
  .home_shape-big {
    width: 500px;
    height: 500px;
    top: 22rem;
    right: -14rem;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.text-flavor {
  font-size: 10rem; /* Adjust this value as needed */
}

.text-flavor-fruit {
  font-size: 8rem; /* Adjust this value as needed */
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Position the navigation buttons at the bottom left */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  z-index: 10;
}

/* Style for the left arrow button */
.swiper-button-prev {
  left: 10px;
  /* Optional border */
}

/* Style for the right arrow button */
.swiper-button-next {
  left: 60px; /* Adjust so it's next to the left arrow */ /* Optional border */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    bottom: 5px; /* Closer to the bottom on smaller screens */
    left: 5px; /* Closer to the left on smaller screens */
  }

  .swiper-button-next {
    left: 55px; /* Adjust position next to the left arrow */
  }
}

@media (max-width: 480px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px; /* Smaller buttons on very small screens */
    height: 40px;
    line-height: 40px; /* Adjust line height to vertically center the arrow */
    font-size: 20px; /* Smaller arrow icons */
  }

  .swiper-button-next {
    left: 50px; /* Adjust position next to the left arrow */
  }
}
